<div id="page" #page>
  <div id="content" *ngIf="anime$ | async as anime">
    <div id="header-bg" [style.opacity]="headerVisible ? 1 : 0">
      <div id="header" (click)="goBack()">
        <mat-icon>arrow_left</mat-icon>
        <span>{{ anime.title }} EP{{ episodeId }}</span>
      </div>
    </div>
    <app-player [anime]="anime" [episodeId]="episodeId"></app-player>
  </div>
</div>
