#page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-bg {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, #00000085, transparent);
  transition: 400ms ease-out;
  > #header {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #ececec;
    cursor: pointer;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-right: 1rem;
    }
    mat-icon {
      font-size: 54px;
      width: 54px;
      height: 54px;
    }
  }
}
