<div class="card" #card id="{{ anime.malId }}">
  <div id="infoContainer" (click)="prepareDetails()">
    <div *ngIf="!noCover" class="imgholder" [style.backgroundImage]="getImageUrl(anime.image_url, true)"></div>
    <div class="card-body" [class.nocover]="noCover">     
      <div class="card-body-content">
        <div class="bg-image" [style.backgroundImage]="getImageUrl(anime.image_url)"></div>
        <div class="card-title">{{ anime.title }}</div>
      </div>
    </div>
  </div>
</div>
