.card {
  background-clip: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 12.96px;
  font-weight: 400;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  transition: 150ms ease-in-out;
  position: relative;
  margin: 1rem;
  width: 250px;
  /* height: 17rem; */
  border-radius: 2px;
  z-index: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.card:hover {
  transform: translateY(-10px);
  z-index: 1;
}

#infoContainer {
  width: 100%;
  height: inherit;
  transition: 600ms cubic-bezier(0, 0, 0.5, 1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.card-body-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 2px;
}

.bg-image {
  filter: blur(45px) saturate(1.7) brightness(0.7);
  position: absolute;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.card-body:hover .bg-image {
  filter: blur(45px) saturate(1.8) brightness(0.9);
  width: 120%;
  height: 120%;
}

.card {
  width: 100%;
  height: 100%;
  margin: 0;
}
.card:hover {
  transform: none;
}
#infoContainer {
  display: flex;
}

.imgholder {
  width: 106px;
  height: 100%;
  z-index: 1;
  margin-right: 1%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: saturate(1.3);
  border-radius: 2px;
}

.card-body {
  width: calc(99% - 106px);
  height: 100%;
  position: relative;
  border-radius: 2px;
}

.card-body.nocover {
  width: 100%;
}

.card-title {
  position: absolute;
  font-weight: 500;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  line-height: 1.4rem;
  pointer-events: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  height: auto;
  color: #efefef;
}

.card-body.nocover .card-title {
  line-height: inherit;
  display: block;
  width: 90%;
}
.background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}
