<div id="main-wrapper">
  <mat-toolbar color="primary" class="example-toolbar">
    <h1 class="example-app-name"></h1>
    <div id="controls-wrapper">
      <div id="controls">
        <button
          *ngIf="!!selectedSeason"
          class="options-button"
          id="seasonButton"
          mat-stroked-button
          aria-label="Sort button"
          [matMenuTriggerFor]="seasonMenu"
        >
          <div class="button-inner">
            {{ selectedSeason.viewValue }}
            <mat-icon>arrow_drop_down</mat-icon>
          </div>
        </button>

        <button
          class="options-button"
          id="sortButton"
          mat-stroked-button
          aria-label="Season button"
          [matMenuTriggerFor]="filterMenu"
        >
          <mat-icon>filter_list</mat-icon>
          FILTER
        </button>

        <div id="filter">
          <input
            required
            matInput
            type="text"
            (keyup)="patchTitle($event.target.value)"
            [(ngModel)]="value"
            [size]="20"
          />
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
            <mat-icon *ngIf="!value">search</mat-icon>
            <mat-icon *ngIf="value">close</mat-icon>
          </button>
        </div>
      </div>

      <mat-menu #filterMenu="matMenu">
        <div id="filter-dropdown">
          <div class="block-title">Genres</div>
          <div id="genre-grid">
            <div
              class="genre-button"
              *ngFor="let genre of genres"
              [class.active]="selectedGenres.includes(genre)"
              (click)="selectGenre($event, genre)"
            >
              {{ genre }}
            </div>
          </div>
          <div class="block-title">Sort by</div>
          <div id="sort-type">
            <div (click)="navigate({ sort: 'members' })">Popular</div>
            <div (click)="navigate({ sort: 'score' })">Score</div>
            <div (click)="navigate({ sort: 'date' })">Date</div>
          </div>
        </div>
      </mat-menu>

      <mat-menu #seasonMenu="matMenu">
        <div id="seasons-dropdown">
          <div id="seasonmenu" *ngIf="seasons">
            <div id="year-buttons">
              <button
                mat-menu-item
                *ngFor="let year of years"
                [class.year-selected]="selectedYear === year"
                (click)="selectYear($event, year)"
              >
                {{ year }}
              </button>
            </div>
            <div id="season-buttons">
              <button
                mat-menu-item
                *ngFor="let season of getSeasons(selectedYear)"
                (click)="navigate({ season: season.value })"
              >
                {{ season.season }}
              </button>
            </div>
          </div>
          <div id="top-button" (click)="navigate({ season: 'top', sort: 'nosort' })">
            All Seasons
          </div>
        </div>
      </mat-menu>
    </div>
  </mat-toolbar>
  <div
    *ngIf="anime; else loading"
    #container
    id="cardContainer"
    class="cardContainer"
    [@cardAnimation]="!(isSmallScreen$ | async) && displayAnime.length"
    (@cardAnimation.done)="fillUpCards(0)"
    [@cardAnimationMobile]="(isSmallScreen$ | async) && displayAnime.length"
  >
    <app-anime-item
      *ngFor="let anime of displayAnime"
      [anime]="anime"
      (clicked)="toDetails(anime.malId, true)"
      [@prepareDetails]="animateCard[anime.malId].state"
      (@prepareDetails.done)="openDetails($event, anime.malId)"
    >
    </app-anime-item>
  </div>
  <ng-template #loading>
    <div class="grid-loader">
      <div *ngFor="let i of nSizeArray(20)" style="--animationdelay:{{ i / 10 }}s"></div>
    </div>
  </ng-template>
</div>
