.grid-loader {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin-top: 64px;

  > div {
    width: 250px;
    height: 430px;
    background: #ffffff1a;
    margin: 1rem;
    border-radius: 2px;
    background: #ffffff1a;
    opacity: 0;
    transform-origin: center center;
    animation: loader 2s infinite linear;
    animation-delay: var(--animationdelay);
  }
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#controls-wrapper {
  width: 100%;
}
#seasonmenu {
  display: flex;
  height: 190px;
  border-radius: 10px;
  background: #282828e6;
  backdrop-filter: blur(4px);
}

#year-buttons {
  overflow: scroll;
  width: 5rem;
  border-radius: 10px 0 0 10px;
  scrollbar-width: none;
}

#season-buttons {
  overflow: scroll;
  width: 6.2rem;
  border-radius: 0 10px 10px 0;
  scrollbar-width: none;
}

#year-buttons > button.year-selected {
  background: rgb(115, 115, 115);
}

#year-buttons::-webkit-scrollbar {
  width: 0 !important;
}

#season-buttons::-webkit-scrollbar {
  width: 0 !important;
}
#seasonmenu .mat-menu-item {
  border-radius: 0px;
  color: #efefef;
  background: transparent;
  font-size: inherit;
  font-weight: 600;
}

#seasons-dropdown {
  display: flex;
  flex-direction: column;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-size: 16px;
}

#filter-dropdown {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  color: #efefef;
  border-radius: 10px;
  background: #282828e6;
  backdrop-filter: blur(4px);
}

#filter-dropdown .block-title {
  font-size: 29px;
  font-weight: 600;
  color: #efefef;
  margin: 0 10px;
  padding-bottom: 14px;
  padding-top: 16px;
  border-bottom: 1px solid #6f6f6f2e;
}
#top-button {
  font-size: inherit;
  font-weight: 600;
  color: #efefef;
  background: #282828e6;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
}

#genre-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 16px;
  font-weight: 600;
  height: 400px;
  width: 500px;
  max-width: 94vw;
  margin-top: 10px;
}

.genre-button {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 13px;
  cursor: pointer;
}
#seasonButton {
  font-size: 35px;

  .button-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  mat-icon {
    font-size: 1.3em;
    height: 1em;
    width: 1em;
  }
}
#seasonmenu .mat-menu-item:hover,
.genre-button:hover {
  background: rgba(115, 115, 115, 0.692);
}

#top-button:hover {
  background: #565656f0;
}

#seasonmenu .mat-menu-item:active,
.genre-button:active {
  background: rgba(115, 115, 115, 0.466);
}

.genre-button.active {
  background: rgb(115, 115, 115);
}

#sort-type > div {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0 13px;
  height: 40px;
  cursor: pointer;
}

#sort-type {
  > div:hover {
    background: rgba(115, 115, 115, 0.692);
  }
  :last-child {
    border-radius: 0 0 10px 10px;
  }
}
#controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  color: #efefef;
}
#controls > button {
  border-radius: 2px;
  margin: 0 4px;
}

#controls > button >>> span {
  color: rgb(226, 226, 226);
  font-size: 16px;
  font-weight: 600;
}

#filter {
  height: 38px;
  display: inline-block;
  position: relative;
  margin-right: 2px;
  padding-right: 8px;
  max-width: 21vw;
  width: 30rem;
  margin-top: 2px;
}
#filter > button {
  position: absolute;
  top: -5px;
  right: -7px;
  height: 0;
  color: rgb(187, 187, 187);
  line-height: 40px;
}

input {
  height: inherit;
  padding-right: 35px;
  font-family: inherit;
  background: transparent;
  border: 0;
  border-bottom: 2px gray;
  border-style: solid;
  color: #efefef;
  font-size: inherit;
  position: absolute;
  width: 100%;
  border-radius: 0px;
  transition: 0.5s ease-in-out;
  border-radius: 2px;
  padding: 2px;
  padding-bottom: 0;
  box-shadow: none;
  box-sizing: border-box;
}

input:focus,
input:required:valid {
  border-color: #efefef;
  outline: 0;
  border-style: solid !important;
  background-color: rgb(82, 82, 82);
}

#main-wrapper {
  background: linear-gradient(#2f2f2f 0%, #151515 27vh);
  min-height: 100vh;

  margin-bottom: 48px;
}

mat-toolbar {
  background: transparent !important;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  position: fixed;
  z-index: 3;
  top: 0;
  background: #313131e6 !important;
  margin-bottom: 0;
  height: 64px !important;
  backdrop-filter: blur(5px);
  color: #efefef;
}
.cardContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin-top: 64px;
}

.options-button {
  border: 0;
}

#sortButton {
  margin-left: auto !important;
  font-size: 18px;
  mat-icon {
    height: inherit;
    width: inherit;
    margin-bottom: 3px;
    font-size: 32px;
  }
}

@media only screen and (max-width: 700px) {
  #seasonButton {
    font-size: 5.5vw;
    font-weight: 600;
    padding: 0;
  }
  ::-webkit-scrollbar {
    width: 0;
  }

  #genre-grid {
    grid-template-columns: 1fr 1fr 1fr;
    height: 450px;
  }

  .grid-loader {
    > div {
      width: 90vw;
      height: 18vh;
      background: #ffffff1a;
      margin: 0.5rem;
      border-radius: 2px;
      background: #ffffff1a;
      opacity: 0;
      transform-origin: center center;
      animation: loader 2s infinite linear;
      animation-delay: var(--animationdelay);
    }
  }

  #main-wrapper {
    margin-bottom: 60px;
  }

  input:focus,
  input:required:valid {
    width: 100% !important;
  }

  mat-toolbar {
    backdrop-filter: none;
    padding: 0 12px;
  }
}
