.block-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  padding-bottom: 0.5rem;
  width: 100%;
  color: #efefef;
  font-size: 2rem;
  line-height: normal;
  font-weight: 600;
  margin-top: 32px;
}

.viewport {
  height: 320px;
}

.content {
  height: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  height: 100%;
}
app-episode-card {
  margin-right: 2rem;
  &:active {
    transform: scale(0.97);
    opacity: 0.7;
  }
}
virtual-scroller {
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .content {
    overflow: scroll;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
}
