.card {
  background-clip: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 12.96px;
  font-weight: 400;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  transition: 150ms ease-in-out;
  position: relative;
  margin: 1rem;
  width: 250px;
  /* height: 17rem; */
  border-radius: 2px;
  z-index: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  color: #efefef;
}

.card:hover {
  transform: translateY(-10px);
  z-index: 1;
}

#infoContainer {
  width: 100%;
  height: inherit;
  transition: 600ms cubic-bezier(0, 0, 0.5, 1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.card-body-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 0 0 2px 2px;
}

.bg-image {
  filter: blur(45px) saturate(1.7) brightness(0.7);
  position: absolute;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

/*
.card:hover .bg-image {
  filter: blur(45px) saturate(1.8) brightness(0.9);
  width: 120%;
  height: 120%;
}
*/
.card {
  width: 100%;
  height: 100%;
  margin: 0;
}
.card:hover {
  transform: none;
}
#infoContainer {
  display: flex;
  flex-direction: column;
}

button {
  height: 5rem;
  width: 5rem;
  mat-icon {
    line-height: 5rem;
    font-size: 5rem;
    height: 5rem;
    width: 5rem;
    background: #00000078;
    border-radius: 40px;
  }

  &:hover {
    transform: scale(0.95);
  }
}

.imgholder {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: saturate(1.3);
  border-radius: 2px 2px 0 0;
}

.continue-overlay {
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #00000099, transparent 30%);
  position: absolute;
  > div {
    z-index: 9;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

.episode-number {
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  bottom: 12px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 180px;
  height: 100%;
  position: relative;
  border-radius: 2px 2px 0 0;
}

.card-body {
  width: 100%;
  height: 65px;
  position: relative;
  border-radius: 0 0 2px 2px;
}

.card-body.nocover {
  width: 100%;
}

.card-title {
  font-weight: 500;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4rem;
  pointer-events: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  height: auto;
  color: #efefef;
}

.body-aligner {
  width: 90%;
  position: absolute;
}

.next-episode {
  bottom: 0px;
  font-size: 14px;
  opacity: 0.5;
}
.watch-progress {
  height: 6px;
  background: #efefef;
  left: 0;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.card-body.nocover .card-title {
  line-height: inherit;
  display: block;
}
.background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}
