<div
  class="card"
  [class.continue-card]="showProgress"
  #card
  id="{{ anime.malId }}"
  (mousedown)="mouseDown($event)"
  (mouseup)="mouseUp($event)"
>
  <div id="infoContainer">
    <div class="image-wrapper">
      <div *ngIf="!noCover" class="imgholder" [style.backgroundImage]="getImageUrl(anime.image_url, true)"></div>
      <div *ngIf="showProgress" class="continue-overlay">
        <div *ngIf="watchProgress | async as progress">
          <button mat-icon-button [disableRipple]="true" (click)="mouseUp($event, progress.episodeId)">
            <mat-icon #continueicon>play_circle_outline</mat-icon>
          </button>
          <div class="episode-number">EP{{ progress.episodeId }}</div>
          <div class="watch-progress" [style.width]="(progress.currentTime / progress.duration) * 100 + '%'"></div>
        </div>
      </div>
    </div>
    <div class="card-body" [class.nocover]="noCover">
      <div class="card-body-content">
        <div class="bg-image" [style.backgroundImage]="getImageUrl(anime.image_url)"></div>
        <div class="body-aligner">
          <div class="card-title">{{ anime.title }}</div>
          <div class="next-episode" *ngIf="anime.nextEpisode">
            EP {{ nextEpisodeNumber() }} in {{ anime.nextEpisode.days }} days, {{ anime.nextEpisode.hours }} hours
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
