app-custom-video {
  width: 100%;
  height: 100%;
}

app-custom-video {
  max-width: 100% !important;
  max-height: 100% !important;
  outline: none;
  background: #000;
}

app-custom-video.fs {
  width: 100% !important;
  height: 100% !important;
}

#container {
  width: 100vw !important;
  height: 100vh !important;
  max-height: 56.25vw;
  max-width: 177.8vh;
}
image {
  width: 100%;
  height: 100%;
}

#loadingBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw !important;
  height: 100vh !important;
  max-height: 56.25vw;
  max-width: 177.8vh;
  position: absolute;
  background-color: #252525;
  z-index: 60;
}

#loadingBar {
  height: 50% !important;
  width: 30% !important;
  background-color: transparent;
}

#loadingBar.loading {
  -webkit-animation: rotation 2s infinite ease-in-out;
  animation: rotation 2s infinite ease-in-out;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(359deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(359deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}
