<div id="container" #container (resized)="onResized()">
  <div id="syncData" type="application/ld+json" style="display: none;">{{ getMalSyncData() }}</div>
  <div id="loadingBarContainer" #loadingBar>
    <div
      [class.loading]="preLoading"
      id="loadingBar"
      class="ldBar"
      data-stroke="data:ldbar/res,stripe(#3b3b3b,#e2592f,1)"
      data-value="0"
      data-preset="circle"
    ></div>
  </div>
  <app-custom-video
    *ngIf="!(vlc | async); else vlcDiv"
    #video
    id="video"
    [upscale]="upscale | async"
    [src]="streamUrl"
    [class.fs]="fullscreen"
    [hasNextEpisode]="!!nextEpisode"
    [selectedSubtitle]="selectedSubtitle"
    (loadeddataChange)="loadeddata()"
    (fullscreenChange)="toggleFullScreen()"
    (loadedmetadataChange)="loadedmetadata()"
    (playNextEpisode)="playNextEpisode()"
    (selectSubtitleEvent)="selectSubtitle($event)"
  >
  </app-custom-video>
  <ng-template #vlcDiv>
    <div
      style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; font-size: 24px;"
    >
      <div>Keeping this window open is required for playback in VLC</div>
    </div>
  </ng-template>
</div>
