<div class="card" #card id="{{ anime.malId }}" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)">
  <div id="infoContainer">
    <div class="imgholder" [style.backgroundImage]="getImageUrl(anime.image_url, true)">
      <button
        id="watchListButton"
        [disableRipple]="true"
        mat-icon-button
        (click)="watchListClick($event)"
        (mousedown)="stopEvent($event)"
        [style.color]="'white'"
      >
        <mat-icon *ngIf="inWatchList$ | async">favorite</mat-icon>
        <mat-icon *ngIf="!(inWatchList$ | async)">favorite_outline</mat-icon>
      </button>
    </div>
    <div class="card-body">
      <div class="card-body-content">
        <div class="bg-image" [style.backgroundImage]="getImageUrl(anime.image_url)"></div>
        <div class="body-aligner">
          <div class="card-title">{{ anime.title }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
