#main-wrapper {
  background: linear-gradient(#2f2f2f 0%, #151515 27vh);
  min-height: 100vh;
  padding-bottom: 60px;

  &.nocontent {
    padding-bottom: 0;
  }
}

#page-content {
  display: flex;
  flex-direction: column;
  .block-title {
    font-weight: 600;
    font-size: 2.5rem;
    margin: 24px 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    padding-bottom: 1.5rem;
  }

  #page-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    > div {
      width: 90%;
      font-size: 3rem;
      line-height: 3rem;
      color: #ececec;
      text-align: center;
    }
  }
}
