<div id="main-wrapper" [class.nocontent]="noContent">
  <div id="page-content" *ngIf="isMobileString | async as mobileString">
    <div *ngIf="noContent" id="page-empty">
      <div>
        Nothing to show for now :(
        <br />
        Let's watch some anime and check again!
      </div>
    </div>
    <div id="continue" *ngIf="continue$ | async as continue">
      <app-scroller
        *ngIf="continue.length"
        [anime]="continue"
        [title]="'Continue'"
        [showProgress]="true"
        [isMobileString]="mobileString"
      ></app-scroller>
    </div>
    <div id="upcoming" *ngIf="upComing$ | async as upcoming">
      <app-scroller
        *ngIf="upcoming.length"
        [anime]="upcoming"
        [title]="'Upcoming'"
        [isMobileString]="mobileString"
      ></app-scroller>
    </div>
    <div id="recommended" *ngIf="recommended$ | async as recommended">
      <app-scroller
        *ngIf="recommended.length"
        [anime]="recommended"
        [title]="'Recommended'"
        [isMobileString]="mobileString"
      ></app-scroller>
    </div>
  </div>
</div>
