<div class="example-container" [class.is-mobile]="isSmallScreen" [ngClass]="theme | async">
  <mat-sidenav-container class="example-sidenav-container" [hasBackdrop]="false">
    <mat-sidenav
      #snav
      [opened]="true"
      [class.hidden]="(navbarHidden | async) && !isSmallScreen"
      [mode]="'over'"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="/feed"><mat-icon>home</mat-icon>Home</a>
        <a mat-list-item routerLink="/browse"><mat-icon>search</mat-icon>Browse</a>
        <a mat-list-item routerLink="/list"><mat-icon>favorite</mat-icon>Liked</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content cdkScrollable>
      <button id="navButton" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <div id="animations" [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
