::-webkit-scrollbar {
  z-index: 4;
}

.is-mobile ::-webkit-scrollbar {
  display: none;
}
mat-sidenav {
  background: #2b2b2bf5 !important;
  backdrop-filter: blur(5px);
  width: 100%;
  transform: none;
  visibility: visible;
  position: absolute;
  bottom: 0;
  top: unset !important;
  transition: 200ms ease-out;
}
mat-sidenav.hidden {
  transform: translateY(100%) !important;
}
mat-sidenav:hover {
  transform: none !important;
}

.is-mobile mat-sidenav {
  backdrop-filter: none;
  background: #222222f5 !important;
}
mat-nav-list {
  display: flex;
  flex-direction: row;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

mat-nav-list mat-icon {
  margin-right: 1rem;
}
.mat-drawer-container {
  transition: background-color 1s linear;
}

.mat-toolbar {
  transition: background-color 1s linear;
  position: fixed;
  z-index: 2;
}

#navButton {
  position: absolute;
  left: 2rem;
  top: 0.5rem;
  height: 50px;
  width: 50px;
  display: none;
}

#navButton >>> mat-icon {
  font-size: xx-large;
  width: inherit;
  height: inherit;
}

div >>> .mat-list-item-content {
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .mat-list-item {
    font-size: 0;
    height: 60px !important;
  }
}

.is-mobile .mat-list-item .mat-icon {
  margin-right: 0;
}

/*
.is-mobile >>> #main-wrapper {
  height: 100%;
  margin-bottom: 48px;
}
*/
.dark-theme .mat-nav-list .mat-list-item:hover {
  background: rgba(255, 255, 255, 0.15);
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100vh;
}

h1.example-app-name {
  margin-left: 8px;
}

.is-mobile >>> #ytProgressBarContainer {
  display: none;
}
.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}
mat-sidenav-content {
  overflow-x: hidden;
}

div /deep/ .mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

div /deep/ .ldBar path.mainline {
  stroke-width: 7;
  stroke-linecap: round;
}

div /deep/ .ldBar path.baseline {
  stroke-width: 0;
  stroke: #f1f2f3;
  stroke-linecap: round;
}

div /deep/ .ldBar-label {
  color: transparent !important;
  font-family: 'varela round';
}
