<div class="card" #card id="{{ anime.malId }}" (mouseleave)="mouseEvent(false)" (click)="prepareDetails()">
  <div @coverAnimation id="yt-loading-mask" *ngIf="hovered">
    <mat-spinner [color]="'accent'" *ngIf="!trailerStarted"></mat-spinner>
  </div>
  <div id="infoContainer" [ngStyle]="{ filter: (playingTrailerObs | async) ? 'brightness(0.5)' : 'none' }">
    <button
      id="watchListButton"
      mat-icon-button
      aria-label="Example icon-button with a heart icon"
      (click)="watchListClick($event)"
      [style.color]="(inWatchlist$ | async) ? 'white' : 'white'"
      (mouseenter)="mouseEvent(false)"
    >
      <mat-icon *ngIf="inWatchlist$ | async">favorite</mat-icon>
      <mat-icon *ngIf="!(inWatchlist$ | async)">favorite_outline</mat-icon>
    </button>

    <div
      class="imgholder"
      [style.backgroundImage]="getImageUrl(anime.image_url, true)"
      (mouseenter)="onMouseEnter()"
    ></div>

    <div class="card-body" (mouseenter)="mouseEvent(false)">
      <div class="bg-image" [style.backgroundImage]="getImageUrl(anime.image_url)"></div>
      <div class="card-body-content" *ngIf="isMobileString$ | async as mobileString">
        <div class="body-aligner" *ngIf="mobileString === 'desktop'; else mobileCardBody">
          <div class="card-title">{{ anime.title }}</div>
          <div class="next-episode" *ngIf="anime.nextEpisode">
            EP{{ nextEpisodeNumber() }} in {{ anime.nextEpisode.days }} days, {{ anime.nextEpisode.hours }} hours
          </div>
        </div>
        <ng-template #mobileCardBody>
          <div class="body-aligner">
            <div class="card-title">{{ anime.title }}</div>
          </div>
          <div class="next-episode mobile" *ngIf="anime.nextEpisode">
            EP{{ nextEpisodeNumber() }} in {{ anime.nextEpisode.days }} days, {{ anime.nextEpisode.hours }} hours
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div id="ytProgressBarContainer">
    <div id="ytProgressBar" [style.width.px]="hovered ? ytBarWidth : 0">
      <div></div>
    </div>
  </div>

  <div id="videoDivContainer" #videoDiv *ngIf="hovered" [style.opacity]="trailerStarted ? 1 : 0">
    <youtube-player
      id="videoDiv"
      #videoPlayer
      [style.width.px]="ytBarWidth"
      [videoId]="trailerUrl$ | async"
      (ready)="videoReady($event)"
      (stateChange)="onYtStateChange($event)"
    ></youtube-player>
  </div>
</div>
