.card {
  background-clip: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 12.96px;
  font-weight: 400;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;

  position: relative;
  margin: 1rem;
  width: 250px;
  /* height: 17rem; */
  border-radius: 2px;
  z-index: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.card:hover {
  z-index: 1;
}

.card:active {
  transform: scale(0.97);
  opacity: 0.7;
}

#yt-loading-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #0000007d;
  backdrop-filter: blur(60px);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  z-index: 4;
  pointer-events: none;
}
#yt-loading-mask ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: rgba(255, 255, 255, 0.815);
}

#infoContainer {
  width: 100%;
  height: inherit;
  transition: 600ms cubic-bezier(0, 0, 0.5, 1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.card-body {
  height: 80px;
  background: #2b2b2b;
  position: relative;
  overflow: hidden;
}

.bg-image {
  filter: blur(45px) saturate(2) brightness(0.6);
  position: absolute;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-body-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: #ffffffe8;
}
.body-aligner {
  width: 90%;
  position: absolute;
}
.imgholder {
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 250px;
  background-position: center center;
  /* border-radius: 5px; */
  -webkit-filter: saturate(1.3);
  filter: saturate(1.3);
  /* position: absolute; */
}
#videoDivContainer {
  opacity: 0;
  position: absolute;
  width: 640px;
  height: 100%;
  left: -195px;
  display: flex;
  justify-content: center;
  pointer-events: none;
  transition: 600ms cubic-bezier(0, 0, 0.5, 1);
  z-index: 5;
}

#videoDiv {
  position: relative;
  height: 100%;
  width: 12rem;
  z-index: 99;
  overflow: hidden;
  transition: all 600ms cubic-bezier(0, 0, 0.5, 1);
}

#videoDiv /deep/ iframe {
  top: 0;
  left: -320px;
  width: 640px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  transition: all 600ms cubic-bezier(0, 0, 0.5, 1);
}

#ytProgressBarContainer {
  position: absolute;
  width: 640px;
  height: 5px;
  bottom: 0;
  left: -195px;
  display: flex;
  justify-content: center;
  pointer-events: none;
  display: none;
}

#ytProgressBar {
  width: 26px;
  overflow: hidden;
  z-index: 999;
  transition: all 600ms cubic-bezier(0, 0, 0.5, 1);
}

#ytProgressBar > div {
  height: 5px;
  width: 640px;
  background: rgb(255, 255, 255);
}

.card-title {
  height: 1.2em;
  /* padding: 1rem; */
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.2em;
  /* background: linear-gradient(0deg, #222d, transparent); */
}

.next-episode {
  font-size: 1rem;
  color: #ffffff9e;
}

.next-episode.mobile {
  position: absolute;
  bottom: 6px;
}

.episodeButtons {
  overflow: auto;
}

#watchListButton {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  border-radius: 0 0 0 20px;
  width: 50px;
  height: 50px;
  background: #3e3e3e45;
  backdrop-filter: blur(20px);
}

#watchListButton mat-icon {
  margin-bottom: 5px;
}

canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
}

@media only screen and (max-width: 700px) {
  .card {
    width: 90vw;
    height: 18vh;
    margin: 0.5rem;
  }

  #infoContainer {
    display: flex;
  }

  .imgholder {
    width: 13vh;
    height: 100%;
    z-index: 1;
    margin-right: 1%;
  }

  .card-body {
    width: calc(99% - 13vh);
    height: 100%;
    position: relative;
  }

  .card-title {
    pointer-events: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    height: auto;
    line-height: 1.1em;
  }
  .background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  #watchListButton {
    background: transparent;
    backdrop-filter: none;
  }
}
