.block-title {
  font-weight: 600;
  font-size: 2.5rem;
  margin: 32px 2rem 12px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  padding-bottom: 1.5rem;
}

.viewport {
  height: 320px;
}

.content {
  height: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  height: 100%;
}
app-episode-card {
  margin-left: 2rem;
  &:active {
    transform: scale(0.97);
    opacity: 0.7;
  }
}
virtual-scroller {
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .content {
    overflow: scroll;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
}
