<div class="scroll-wrapper">
  <h1 class="block-title" @coverAnimation>{{ title }}</h1>
  <div class="viewport" #viewport>
    <div class="content" *ngIf="_isMobileString === 'desktop'">
      <div class="cards" [@cardAnimation]="anime.length">
        <app-episode-card *ngFor="let anime of anime" [anime]="anime" [showProgress]="showProgress"></app-episode-card>
      </div>
    </div>

    <div class="content" *ngIf="_isMobileString === 'mobile'">
      <div class="cards">
        <virtual-scroller #scroll [items]="anime" [horizontal]="true">
          <app-episode-card
            *ngFor="let anime of scroll.viewPortItems"
            [anime]="anime"
            [showProgress]="showProgress"
          ></app-episode-card>
        </virtual-scroller>
      </div>
    </div>
  </div>
</div>
