<hr class="seasonSeparatorLine" @coverAnimation />
<div class="seasonTitle" @coverAnimation>
  {{ seasonalAnime.season }}
</div>
<div class="viewport-liked" #viewport>
  <div class="content-liked" *ngIf="_isMobileString === 'desktop'">
    <div class="cards" [@cardAnimation]="seasonalAnime.anime.length">
      <app-watchlist-item *ngFor="let anime of seasonalAnime.anime" [anime]="anime"></app-watchlist-item>
    </div>
  </div>

  <div class="content-liked" *ngIf="_isMobileString === 'mobile'">
    <div class="cards">
      <virtual-scroller #scroll [items]="seasonalAnime.anime" [horizontal]="true">
        <app-watchlist-item *ngFor="let anime of scroll.viewPortItems" [anime]="anime"></app-watchlist-item>
      </virtual-scroller>
    </div>
  </div>
</div>
