.seasonSeparatorLine {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  margin: 0.5em 2rem 1em;
}
.seasonTitle {
  font-weight: 600;
  font-size: 1.5em;
  margin: 0.5em 2rem 1em;
}
.viewport-liked {
  height: 320px;
}

.content-liked {
  height: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  height: 100%;
}
virtual-scroller {
  width: 100%;
}
app-watchlist-item {
  margin-left: 2rem;
  &:active {
    transform: scale(0.97);
    opacity: 0.7;
  }
}
