<div id="main" [class.cursorHidden]="!controlsVisible">
  <canvas style="display: none;" (mousemove)="mouseMoved()" *ngIf="upscale" #canvas (click)="videoClick()"> </canvas>
  <canvas (mousemove)="mouseMoved()" *ngIf="upscale" #sharpened (click)="videoClick()"> </canvas>
  <video
    [style.display]="upscale && hideVideoEL ? 'none' : 'block'"
    #video
    [src]="src"
    width="100%"
    height="100%"
    (timeupdate)="timeupdate()"
    (loadeddata)="onloadeddata($event)"
    (loadedmetadata)="onloadedmetadata($event)"
    (playing)="setPlaying()"
    preload="auto"
    disablepictureinpicture="true"
    (click)="videoClick()"
    (mousemove)="mouseMoved()"
    (ended)="onEnded()"
  ></video>
  <div id="controls" [class.visible]="controlsVisible" *ngIf="videoEl" (click)="mouseMoved()">
    <div id="seek-bar-wrapper" (click)="seek($event)">
      <div id="seek-bar">
        <div id="fill" [style.width]="barWidth">
          <div id="seek-thumb"></div>
        </div>
      </div>
    </div>
    <div id="button-row">
      <button id="play-button" mat-icon-button aria-label="Play" [disableRipple]="true" (click)="playOrPause()">
        <mat-icon *ngIf="!playing">play_arrow</mat-icon>
        <mat-icon *ngIf="playing">pause</mat-icon>
      </button>
      <div id="currentTime">{{ currentTimeStr }}</div>
      <button id="mute-button" mat-icon-button aria-label="Mute" [disableRipple]="true" (click)="mute()">
        <mat-icon *ngIf="!videoEl.muted">volume_up</mat-icon>
        <mat-icon *ngIf="videoEl.muted">volume_off</mat-icon>
      </button>
      <input
        type="range"
        id="volume"
        min="0"
        max="1"
        [value]="videoEl.volume"
        step="0.10"
        (input)="changeVolume($event.target.value)"
      />
      <div class="right">
        <button
          *ngIf="hasNextEpisode"
          id="next-episode-button"
          mat-icon-button
          aria-label="Next episode"
          [disableRipple]="true"
          (click)="playNextEpisode.emit()"
        >
          <mat-icon>skip_next</mat-icon>
        </button>
        <button
          id="settings-button"
          mat-icon-button
          aria-label="Settings"
          [disableRipple]="true"
          (click)="openControls($event)"
          [matMenuTriggerFor]="settingsMenu"
        >
          <mat-icon>settings</mat-icon>
        </button>
        <button
          id="fullscreen-button"
          mat-icon-button
          aria-label="Fullscreen"
          [disableRipple]="true"
          (click)="changeFullscreen()"
        >
          <mat-icon *ngIf="!fullscreen">fullscreen</mat-icon>
          <mat-icon *ngIf="fullscreen">close_fullscreen</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<mat-menu #settingsMenu="matMenu" yPosition="above" xPosition="before" (close)="closeControls()">
  <div
    id="settings-menu-wrapper"
    [style.height]="(subtitleMenuClick ? (languages.length + 1) * 2.5 : 5) + 'rem'"
    [style.width]="
      (subtitleMenuClick
        ? longestLanguageLength / 1.4 < 8
          ? 8
          : longestLanguageLength / 1.4
        : 9 + languageMapping[selectedSubtitle].length / 1.6 < 12
        ? 12
        : 9 + languageMapping[selectedSubtitle].length / 1.6) + 'rem'
    "
  >
    <div id="subtitles" *ngIf="subtitleMenuClick; else rootMenu">
      <div class="back-button" (click)="openSubtitleMenu($event, false)">
        <mat-icon>arrow_left</mat-icon>
        <span>Subtitles</span>
      </div>

      <div class="language-button" *ngFor="let language of languages" (click)="selectSubtitle(language.short)">
        {{ language.display }}
      </div>
    </div>

    <ng-template #rootMenu>
      <div id="settings-dropdown">
        <div id="autoplay-switch">
          <span>Autoplay</span>
          <mat-checkbox (click)="setAutoplay($event)"></mat-checkbox>
        </div>
        <div id="subtitle-menu-button" (click)="openSubtitleMenu($event, true)">
          <span>Subtitle: {{ languageMapping[selectedSubtitle] }}</span>
          <mat-icon>arrow_right</mat-icon>
        </div>
      </div>
    </ng-template>
  </div>
</mat-menu>
