#settings-menu-wrapper {
  border-radius: 10px;
  background: #282828e6;
  backdrop-filter: blur(4px);
  font-size: 18px;
  font-weight: 600;
  color: #ececec;
  overflow: hidden;
  transition: 200ms ease-out;

  > #settings-dropdown {
    > #autoplay-switch {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 2.5rem;
      padding-left: 24px;
      > mat-checkbox {
        margin-left: auto;
        margin-right: 20px;
        ::ng-deep {
          .mat-checkbox-inner-container {
            width: 18px;
            height: 18px;
            margin-bottom: 2px;
          }
        }
      }
    }

    > #subtitle-menu-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 2.5rem;
      width: 100%;
      overflow: hidden;
      border-radius: 0 0 10px 10px;
      > span {
        padding-left: 24px;
        min-width: fit-content;
      }
      > mat-icon {
        height: 32px;
        width: 32px;
        margin-left: auto;
        margin-right: 12px;
      }
      &:hover {
        background: #ffffff18;
      }
    }
  }

  > #subtitles {
    > .back-button {
      border-radius: 10px 10px 0 0;
      height: 2.5rem;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: start;
      background: #ffffff0f;
      cursor: pointer;
      > mat-icon {
        height: 32px;
        width: 32px;
      }
      &:hover {
        background: #ffffff18;
      }
    }
    > .language-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 2.5rem;
      padding-left: 24px;

      &:hover {
        background: #ffffff18;
      }
      &:last-child {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

canvas {
  width: 100%;
  height: 100%;
}

canvas,
video {
  position: absolute;
}

#main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
#controls {
  height: 120px;
  width: 100%;
  transition: all 400ms ease-out;
  opacity: 0;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(to bottom, #cecece00, #0000009e);
  cursor: default;
  padding-bottom: 6px;
}

#controls:hover,
#controls.visible {
  opacity: 1;
}
#main.cursorHidden {
  cursor: none;
}
#seek-bar-wrapper {
  width: 97%;
  height: fit-content;
  padding-top: 12px;
  padding-bottom: 8px;
  position: relative;
  cursor: pointer;
  top: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#seek-bar {
  width: 100%;
  height: 4px;
  background-color: #ffffff7a;
  display: flex;
  z-index: 2;
  transition: 100ms ease-out;
  position: absolute;
}

#seek-bar-wrapper:hover #seek-bar {
  height: 8px;
  background-color: #ffffffa3;
  transform: translateY(-2px);
}

#fill {
  height: 4px;
  background-color: #e2592f;
  pointer-events: none;
  transition: 100ms ease-out;
  position: relative;
}
#seek-thumb {
  position: absolute;
  right: -8px;
  top: -4px;
  width: 16px;
  height: 16px;
  transform: scale(0);
  transition: 100ms ease-out;
  background-color: #e2592f;
  border-radius: 10px;
}
#seek-bar-wrapper:hover #seek-thumb {
  transform: scale(1);
}
#seek-bar-wrapper:hover #fill {
  height: 8px;
}
#currentTime {
  font-family: ProductSans;
  font-size: 16px;
  color: #ececec;
  width: 7rem;
  margin-top: 1px;
  text-align: center;
}

.right {
  margin-left: auto;
}

#settings-button {
  mat-icon {
    font-size: 28px;
  }
}

#play-button {
  padding-right: 10px;
}

#mute-button mat-icon {
  font-size: 26px;
}

mat-icon {
  font-size: 32px;
}
#button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 96%;
}
button {
  color: #ececec;
}
input[type='range'] {
  -webkit-appearance: none !important;
  background-color: #ffffff7a;
  height: 4px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #ffffff;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  #volume {
    display: none;
  }
}
