<div id="bg-wrapper" *ngIf="anime; else loading">
  <div class="bg-animation-svg"></div>
  <div class="bg-image" [style.backgroundImage]="getImageUrl(anime.image_url)"></div>
  <div id="main-wrapper-mask" @bgmaskAnimation></div>
  <div id="main-wrapper">
    <mat-toolbar color="primary" class="example-toolbar">
      <h1 class="example-app-name"></h1>
    </mat-toolbar>
    <div #container id="container" *ngIf="isMobileString | async as mobileString">
      <div id="sidebar">
        <div id="sideimage">
          <div id="imgholder" @coverAnimation [style.backgroundImage]="getImageUrl(anime.image_url, true)"></div>
          <div id="rating" *ngIf="anime.score" [@ratingAnimation]="{ value: '*', params: { score: getStar() } }">
            <div id="starContainer">
              <svg
                class="star"
                *ngFor="let i of ['s', 't', 'a', 'r', 's']"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 22 22"
              >
                <path
                  d="m135.78 50.46c0-2.01-1.52-3.259-4.564-3.748l-40.897-5.947-18.331-37.07c-1.031-2.227-2.363-3.34-3.992-3.34-1.629 0-2.96 1.113-3.992 3.34l-18.332 37.07-40.899 5.947c-3.041.489-4.562 1.738-4.562 3.748 0 1.141.679 2.445 2.037 3.911l29.656 28.841-7.01 40.736c-.109.761-.163 1.305-.163 1.63 0 1.141.285 2.104.855 2.893.57.788 1.425 1.181 2.566 1.181.978 0 2.064-.324 3.259-.977l36.58-19.229 36.583 19.229c1.142.652 2.228.977 3.258.977 1.089 0 1.916-.392 2.486-1.181.569-.788.854-1.752.854-2.893 0-.706-.027-1.249-.082-1.63l-7.01-40.736 29.574-28.841c1.414-1.412 2.119-2.716 2.119-3.911"
                  transform="matrix(.12375 0 0 .12375 2.59 2.958)"
                  fill="#999"
                />
              </svg>
            </div>
          </div>
        </div>
        <div id="sideinfo" @coverAnimation>
          <div id="scores" *ngIf="anime.score || anime.rank">
            <div id="score" *ngIf="anime.score">
              <div class="scores-title">Score</div>
              <div class="scoregrid-value">{{ anime.score }}</div>
            </div>
            <div id="rank" *ngIf="anime.rank">
              <div class="scores-title">Rank</div>
              <div class="scoregrid-value">#{{ anime.rank }}</div>
            </div>
          </div>
          <div class="info desktop" *ngIf="mobileString === 'desktop'">
            <hr class="side-separator" />
            <div id="syncData" type="application/ld+json" style="display: none;">{{ getMalSyncData() }}</div>
            <div id="genres" class="info-type-cont">
              <span class="info-type">Genres: </span>
              <span class="genre-list-item" *ngFor="let genre of anime.genres">{{ genre.name }} </span>
            </div>
            <div *ngIf="anime.type" id="type" class="info-type-cont">
              <span class="info-type">Type: </span>
              <span>{{ anime.type }}</span>
            </div>
            <div *ngIf="anime.status" id="status" class="info-type-cont">
              <span class="info-type">Status: </span>
              <span>{{ anime.status }}</span>
            </div>
            <div *ngIf="anime.aired" id="aired" class="info-type-cont">
              <span class="info-type">Aired: </span>
              <span>{{ anime.aired.string }}</span>
            </div>
            <div *ngIf="anime.premiered" id="premiered" class="info-type-cont">
              <span class="info-type">Premiered: </span>
              <span>{{ anime.premiered }}</span>
            </div>
            <div *ngIf="anime.source" id="source" class="info-type-cont">
              <span class="info-type">Source: </span>
              <span>{{ anime.source }}</span>
            </div>
            <div *ngIf="anime.title_english" id="engtitle" class="info-type-cont">
              <span class="info-type">English title: </span>
              <span>{{ anime.title_english }}</span>
            </div>
          </div>

          <div *ngIf="sequels.length" class="sequel desktop">
            <div class="block-title">Sequel</div>
            <hr class="side-separator" />
            <app-recommendation
              class="sequel-card"
              *ngFor="let seq of sequels"
              [anime]="seq"
              (clicked)="openDetails(seq.malId)"
              [noCover]="true"
            ></app-recommendation>
          </div>
          <div *ngIf="prequels.length" class="prequel desktop">
            <div class="block-title">Prequel</div>
            <hr class="side-separator" />
            <app-recommendation
              class="sequel-card"
              *ngFor="let preq of prequels"
              [anime]="preq"
              (clicked)="openDetails(preq.malId)"
              [noCover]="true"
            ></app-recommendation>
          </div>
        </div>
      </div>
      <div id="detailscontainer" class="main">
        <div id="container-mask"></div>
        <div id="titlebar" @coverAnimation>
          <div id="title">{{ anime.title }}</div>
          <mat-slide-toggle
            (change)="upscaleToggled($event)"
            [(ngModel)]="upscale"
            class="uhd-toggle"
            *ngIf="!vlc && mobileString === 'desktop'"
            >4K Upscaler</mat-slide-toggle
          >
          <mat-slide-toggle
            (change)="vlcToggled($event)"
            [(ngModel)]="vlc"
            class="vlc-toggle"
            *ngIf="mobileString === 'desktop'"
            >VLC</mat-slide-toggle
          >
          <button
            [disableRipple]="true"
            id="watchListButton"
            mat-icon-button
            aria-label="Heart icon"
            (click)="watchListClick()"
            [style.color]="(inWatchlist$ | async) ? 'white' : 'white'"
          >
            <mat-icon *ngIf="inWatchlist$ | async">favorite</mat-icon>
            <mat-icon *ngIf="!(inWatchlist$ | async)">favorite_outline</mat-icon>
          </button>
        </div>
        <div @coverAnimation id="episodeswrapper" *ngIf="watchProgress$ | async as watchProgress">
          <div
            id="episodes"
            *ngIf="anime.torrents.length || anime.nextEpisode; else loadingEpisodes"
            [@episodesAnimation]="anime.torrents.length"
          >
            <button
              mat-stroked-button
              *ngFor="let torrent of anime.torrents"
              attr.episodeUrl="{{ getEpisodeLink(torrent) }}"
              [class.finished]="watchProgress && watchProgress.episodes[torrent.episode]?.finished"
              (click)="startStream(torrent)"
            >
              {{ anime.type === 'Movie' ? 'Movie' : 'EP' + torrent.episode }}
            </button>
            <button *ngIf="anime.nextEpisode" mat-stroked-button disabled>
              Next episode in {{ anime.nextEpisode.days }} days {{ anime.nextEpisode.hours }} hours
            </button>
          </div>
          <ng-template #loadingEpisodes>
            <div class="grid-loader episode-loader" *ngIf="!notFoundEpisodes; else notFoundAny">
              <div *ngFor="let i of nSizeArray(9)"></div>
            </div>
            <ng-template #notFoundAny>
              <div>
                Not found any episodes
              </div>
            </ng-template>
          </ng-template>
        </div>
        <div class="info mobile" *ngIf="mobileString === 'mobile'">
          <div class="block-title">Info</div>
          <hr class="side-separator" />
          <div id="syncData" type="application/ld+json" style="display: none;">{{ getMalSyncData() }}</div>
          <div id="genres" class="info-type-cont">
            <span class="info-type">Genres: </span>
            <span class="genre-list-item" *ngFor="let genre of anime.genres">{{ genre.name }} </span>
          </div>
          <div *ngIf="anime.type" id="type" class="info-type-cont">
            <span class="info-type">Type: </span>
            <span>{{ anime.type }}</span>
          </div>
          <div *ngIf="anime.status" id="status" class="info-type-cont">
            <span class="info-type">Status: </span>
            <span>{{ anime.status }}</span>
          </div>
          <div *ngIf="anime.aired" id="aired" class="info-type-cont">
            <span class="info-type">Aired: </span>
            <span>{{ anime.aired.string }}</span>
          </div>
          <div *ngIf="anime.premiered" id="premiered" class="info-type-cont">
            <span class="info-type">Premiered: </span>
            <span>{{ anime.premiered }}</span>
          </div>
          <div *ngIf="anime.source" id="source" class="info-type-cont">
            <span class="info-type">Source: </span>
            <span>{{ anime.source }}</span>
          </div>
          <div *ngIf="anime.title_english" id="engtitle" class="info-type-cont">
            <span class="info-type">English title: </span>
            <span>{{ anime.title_english }}</span>
          </div>
        </div>
        <div id="about" @coverAnimation [class.expanded]="expandedAbout">
          <div class="block-title">
            About
          </div>
          <hr class="content-divider" />
          <div id="about-content" (resized)="aboutContentHeight$.next($event.newHeight)">
            {{ anime.synopsis }}
          </div>
          <button
            *ngIf="(aboutContentHeight$ | async) >= 161"
            [disableRipple]="true"
            id="expandAbout"
            mat-icon-button
            (click)="expandAbout()"
          >
            <mat-icon>expand_more</mat-icon>
          </button>
        </div>
        <div *ngIf="sequels.length" class="sequel mobile">
          <div class="block-title">Sequel</div>
          <hr class="side-separator" />
          <app-recommendation
            class="sequel-card"
            *ngFor="let seq of sequels"
            [anime]="seq"
            (clicked)="openDetails(seq.malId)"
          ></app-recommendation>
        </div>
        <div *ngIf="prequels.length" class="prequel mobile">
          <div class="block-title">Prequel</div>
          <hr class="side-separator" />
          <app-recommendation
            class="sequel-card"
            *ngFor="let preq of prequels"
            [anime]="preq"
            (clicked)="openDetails(preq.malId)"
          ></app-recommendation>
        </div>

        <div id="similar">
          <div class="mobile" *ngIf="mobileString === 'mobile'; else desktopSimilar">
            <app-scroller
              *ngIf="recommendations.length; else loadingRecommendations"
              [anime]="recommendations"
              [title]="'Similar'"
              [isMobileString]="mobileString"
            ></app-scroller>

            <ng-template #loadingRecommendations>
              <div
                class="grid-loader recommendation-loader"
                *ngIf="!noRecommendations; else notFoundAnyRecommendations"
              >
                <div></div>
              </div>
              <ng-template #notFoundAnyRecommendations>
                <div></div>
              </ng-template>
            </ng-template>
          </div>
          <ng-template #desktopSimilar>
            <div
              class="desktop"
              @coverAnimation
              [class.expanded]="expandedSimilar"
              *ngIf="recommendations.length; else loadingRecommendationsDesktop"
            >
              <div class="block-title">
                Similar
              </div>
              <hr class="content-divider" />
              <div id="rec-cards" [@recommendationsAnimation]="recommendations.length">
                <app-recommendation
                  class="rec-card"
                  *ngFor="let rec of recommendations.slice(0, 5)"
                  [anime]="rec"
                  (clicked)="openDetails(rec.malId)"
                ></app-recommendation>
              </div>
              <button
                *ngIf="recommendations.length > 2"
                [disableRipple]="true"
                id="expandSimilar"
                mat-icon-button
                (click)="expandSimilar()"
              >
                <mat-icon>expand_more</mat-icon>
              </button>
            </div>
            <ng-template #loadingRecommendationsDesktop>
              <div
                @coverAnimation
                class="grid-loader recommendation-loader desktop"
                *ngIf="!noRecommendations; else notFoundAnyRecommendationsDesktop"
              >
                <div></div>
                <div></div>
              </div>
              <ng-template #notFoundAnyRecommendationsDesktop>
                <div></div>
              </ng-template>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div id="main-wrapper" class="loading"></div>
</ng-template>
