.grid-loader {
  > div {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff1a;
    opacity: 0;
    transform-origin: center center;
    animation: loader 2s infinite linear;

    &:nth-of-type(2) {
      animation-delay: 0.1s;
    }

    &:nth-of-type(3) {
      animation-delay: 0.2s;
    }

    &:nth-of-type(4) {
      animation-delay: 0.3s;
    }

    &:nth-of-type(5) {
      animation-delay: 0.4s;
    }

    &:nth-of-type(6) {
      animation-delay: 0.5s;
    }

    &:nth-of-type(7) {
      animation-delay: 0.6s;
    }

    &:nth-of-type(8) {
      animation-delay: 0.7s;
    }

    &:nth-of-type(9) {
      animation-delay: 0.8s;
    }
  }
  &.episode-loader {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2px;
    width: 100%;
    height: 100%;
    > div {
      height: 2.2rem;
    }
  }

  &.recommendation-loader {
    &.desktop > div:first-child {
      margin-top: 4.5rem;
    }
    position: relative;
    display: grid;

    grid-template-columns: 100%;
    grid-gap: 1rem;
    width: 100%;
    height: 100%;
    > div {
      height: 150px;
    }
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.uhd-toggle,
.vlc-toggle {
  font-size: 16px;
  font-weight: 600;
  margin-left: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: inherit;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.bg-animation-svg {
  background-size: cover;
  background-image: url('/assets/Wave-33.3s-1687px.svg');
  z-index: 0;
  transform: rotate(2deg);
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -40%;
}

.bg-image {
  background-position: center center;
  background-size: cover;
  filter: blur(120px) saturate(2.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bg-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

#main-wrapper {
  background: linear-gradient(#0000001f -20%, #272727 14vh, #0e0e0e 100%);
  height: auto;
  width: 100%;
  min-height: 100%;
  padding-bottom: 64px;
  position: absolute;
}

#main-wrapper.loading,
#main-wrapper-mask {
  position: absolute;
  width: 100%;
  height: 100vh;
}

#main-wrapper.loading {
  background: linear-gradient(#313131 0%, #272727 14vh, #0e0e0e 100%);
}

#main-wrapper-mask {
  background: #424242;
}

mat-toolbar {
  background: transparent !important;
}

#container {
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  grid-template-areas:
    'sideimage content'
    'sideinfo content'
    'sideinfo content';
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  color: #efefef;
}
#sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: 1.5rem;
  color: #efefef;
  font-size: 16px;
  .block-title {
    font-size: 22px;
    font-weight: 600;
  }
}
#sideimage {
  grid-area: sideimage;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info-type {
  font-size: 16px;
}

.info-type-cont {
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
#imgholder {
  background-size: cover;
  background-position: center center;
  border-radius: 2px;
  height: 350px;
  width: 250px;
  opacity: 0;
  box-shadow: 0px 12px 20px 0px #00000059;
}
.side-separator {
  width: 100%;
  margin-left: 0;
  border-width: 1px 0 0;
  border-color: rgba(255, 255, 255, 0.12);
  margin-bottom: 0;
}

.scores-title {
  font-size: 16px;
}

#rating {
  width: 0px;
  overflow: hidden;
  margin-top: 0.5rem;
}

#starContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 50px;
}

.star {
  height: -webkit-fill-available;
}

#sideinfo {
  grid-area: sideinfo;
  > div {
    margin-top: 24px;
  }

  ::ng-deep {
    #malp {
      position: relative;
      margin: 0;

      #MalInfo {
        display: block;
        position: absolute;
        padding: 8px 0;
        width: 100%;
        font-size: 0;
        pointer-events: none;
      }
      select {
        text-align-last: end;
        text-align: end;
      }

      #malUserRating {
        color: inherit;
        float: right;
      }
      #malStatus {
        color: inherit;
        float: right;
      }

      #malEpisodes {
        padding-right: 4px;
        color: inherit !important;
        border: 0 !important;
      }
      #malTotal {
        color: inherit;
        padding-left: 4px;
      }

      #MalData > span {
        padding: 8px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
      }

      #MalData {
        flex-direction: column;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.12);
        span:first-child {
          padding: 0 !important;
          border: 0 !important;
          .info {
            display: none;
          }
          #malRating {
            display: none !important;
          }
        }

        span:last-child {
          border: 0;
        }
      }

      #AddMalDiv {
        font-size: 0;
        display: flex;
        #AddMal {
          font-size: 16px;
          color: inherit;
          padding: 8px 0;
          width: 100%;
        }
      }
    }
  }
}

#scores {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 8px !important;
  border-style: solid;
  border-width: 1px 0 0;
  padding-top: 22px;
  border-color: rgba(255, 255, 255, 0.12);
}
#score,
#rank {
  margin: 0 1rem;
}
.scoregrid-value {
  font-size: 24px;
  font-weight: 500;
}

#detailscontainer {
  grid-area: content;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#episodeswrapper {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  max-height: 18.46rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
  transition: background-color 0.8s;
  margin-top: 12px;
  font-size: 16px;
}
#episodeswrapper:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#episodes > button {
  height: 2.2rem;
  width: 100%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  &.mal-sync-active {
    color: #ffffff54;
  }
  &.finished {
    color: #ffffff54;
  }
}

.is-mobile #episodes > button {
  height: 3rem;
}

#episodes:first-child {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: dimgrey;
}

#episodes > button {
  ::ng-deep {
    .mat-button-focus-overlay {
      transition: none;
    }
  }
}

#episodes > button:hover {
  ::ng-deep {
    .mat-button-focus-overlay {
      opacity: 0.1;
    }
  }
}

#titlebar {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}

#title {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  color: #efefef;
  font-size: 2rem;
  height: -moz-fit-content;
  z-index: 0;
  line-height: 2rem;
  min-height: 2.2rem;
  max-height: 4.2rem;
  height: 4.2rem;
  font-weight: 600;
}

.is-mobile #title {
  line-height: 2.5rem;
  margin-bottom: 10px;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 2.5em;
  color: #efefef;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.mat-icon-button {
  width: 50px;
  height: 50px;
}
#watchListButton {
  height: 50px;
  width: 50px;
}

.mat-icon {
  font-size: xx-large;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

hr {
  width: 100%;
}

hr.content-divider {
  margin-left: 0;
  border: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}

#similar {
  width: calc(100% - 12px);
  position: relative;

  > .desktop {
    overflow: hidden;

    #rec-cards {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: center;
      width: 100%;
      position: relative;
      max-height: 324px;
      overflow: hidden;
      transition: 300ms ease-out;
    }

    &.expanded {
      #rec-cards {
        max-height: 1000px;
      }

      mat-icon {
        transform: scaleY(-1);
      }
    }

    button {
      float: right;
      margin-right: -15px;
    }
    mat-icon {
      transition: 300ms ease-out;
      transform: scaleY(1);
    }
  }
}

#about {
  width: calc(100% - 12px);

  #about-content {
    font-size: 16px;
    max-height: 161px;
    margin-top: 0.5rem;
    color: #efefef;
    overflow: hidden;
    text-align: justify;
    transition: 300ms ease-out;
  }

  mat-icon {
    transition: 300ms ease-out;
    transform: scaleY(1);
  }

  button {
    float: right;
    margin-right: -15px;
  }

  &.expanded {
    #about-content {
      max-height: 20rem;
    }

    mat-icon {
      transform: scaleY(-1);
    }
  }
}

.main .block-title {
  width: 100%;
  color: #efefef;
  font-size: 2rem;
  height: -moz-fit-content;
  line-height: normal;
  font-weight: 600;
  margin-top: 32px;
}

.rec-card {
  width: 100%;
  height: 150px;
  margin: 0.5rem;
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.sequel-card {
  height: 100px;
  width: 100%;
  margin: 0.5rem;
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  #similar,
  #about {
    width: 100%;
  }

  .bg-animation-svg {
    top: -150px;
    transform: none;
    opacity: 0.3;
  }
  .bg-image {
    filter: blur(100px) saturate(3.5);
  }

  #main-wrapper {
    height: 100%;
    background: linear-gradient(#87878700 0%, #1f1f1f 50vh, #0e0e0e 100%);
    height: fit-content;
    min-height: 100vh;
  }

  #main-wrapper-mask {
    background: #2e2e2e;
  }

  #sidebar {
    margin: 0 0 1rem;
    box-shadow: 0px 12px 20px 0px #00000059;
  }
  #sideimage {
    margin: 0;
    #imgholder {
      box-shadow: none;
      border-radius: 2px 2px 0 0;
    }
  }

  #container {
    grid-template-areas:
      'sideimage'
      'content'
      'sideinfo';
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 60px;
  }
  #rating {
    display: none;
  }
  #episodeswrapper {
    max-height: 22rem;
  }
  #episodes > button {
    height: 3rem;
  }
  .mat-toolbar {
    margin-bottom: -1rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .sequel-card {
    height: 150px;
    width: 100%;
    margin: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    display: block;
  }

  #scores {
    border: 0;
    padding: 0 !important;
    margin: 0 !important;
    background: #ffffff0d;
    border-radius: 0 0 2px 2px;
    #score,
    #rank {
      margin: 0 0.5rem;
      width: 85px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
