h1 {
  font-weight: 600;
  font-size: 2.5rem;
  margin: 32px 0 16px !important;
}

#main-wrapper {
  background: linear-gradient(#2f2f2f 0%, #151515 27vh);
  min-height: 100vh;
  padding-bottom: 60px;
}

.liked-toolbar {
  background: transparent !important;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

#filter {
  height: 1em;
  display: inline-block;
  position: relative;
  max-width: 15vw;
  margin-left: auto;
  width: 100%;
}
#filter > button {
  position: absolute;
  top: -5px;
  right: -7px;
  height: 0;
  color: rgb(187, 187, 187);
  line-height: 40px;
}

input {
  height: 30px;
  padding-right: 35px;
  font-family: inherit;
  background: transparent;
  border: 0;
  border-bottom: 2px gray;
  border-style: solid;
  color: #efefef;
  font-size: inherit;
  position: absolute;
  width: 100%;
  border-radius: 0px;
  transition: 0.5s ease-in-out;
  border-radius: 2px;
  padding: 2px;
  padding-bottom: 0;
  box-shadow: none;
}

input:focus,
input:required:valid {
  border-color: #efefef;
  outline: 0;
  border-style: solid !important;
  background-color: rgb(82, 82, 82);
}

#controls {
  margin-left: auto;
}
