<div id="main-wrapper">
  <div id="page-content" *ngIf="anime$ | async as anime; else loadingg">
    <div color="primary" class="liked-toolbar" @coverAnimation>
      <h1 class="example-app-name">Liked Anime</h1>
      <div id="filter">
        <input
          required
          matInput
          type="text"
          (keyup)="search.next($event.target.value)"
          [(ngModel)]="value"
          [size]="20"
        />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
          <mat-icon *ngIf="!value">search</mat-icon>
          <mat-icon *ngIf="value">close</mat-icon>
        </button>
      </div>
    </div>
    <div #separator class="seasonSeparator" *ngIf="isSmallScreenString | async as smallScreenString">
      <div *ngFor="let season of anime">
        <app-scroller [seasonalAnime]="season" [isMobileString]="smallScreenString"></app-scroller>
      </div>
    </div>
  </div>
  <ng-template #loadingg> </ng-template>
</div>
