::-webkit-scrollbar {
  width: 12px;
  height: 0;
}
::-webkit-scrollbar-track {
  margin: 64px 0 53px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

@font-face {
  font-family: ProductSans;
  src: url(./assets/fonts/product_sans_regular.ttf);
}
@font-face {
  font-family: ProductSans;
  src: url(./assets/fonts/product_sans_bold.ttf);
  font-weight: bold;
}

body {
  font-family: ProductSans, Arial, sans-serif !important;
  margin: 0;
  overflow: overlay;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
html,
body {
  height: fit-content;
}

.mat-menu-panel {
  max-width: unset !important;
}
.open-info-popup {
  display: none !important;
}

#flashinfo-div {
  top: 0;
}

.ms-progress {
  background-color: rgba(255, 255, 255, 0.47) !important;
}
button.sync {
  color: #ececec !important;
  font-family: Productsans;
  font-size: 18px;
}
.flash.type-add div {
  color: #ececec !important;
  font-size: 18px !important;
  font-family: ProductSans !important;
}
.flash.type-add button {
  color: #ececec !important;
  font-size: 18px !important;
  font-family: ProductSans !important;
}
#flash-div-top a,
#flash-div-bottom a,
#flashinfo-div a {
  color: #ececec !important;
  font-size: 18px !important;
  font-family: ProductSans !important;
}

#flash-div-bottom {
  top: 0 !important;
}
#flash-div-bottom .flash div {
  color: #ececec !important;
  font-size: 18px !important;
  font-family: ProductSans !important;
}

.flash.type-update.flashinfo>div{
  background: #1e1e1eba;
  backdrop-filter: blur(10px);
}

.flash.type-update.flashinfo>div:hover{
  backdrop-filter: blur(10px);
}

.flash.type-update.flashinfo>div>div{
  color: #ececec !important;
  font-size: 18px !important;
  font-family: ProductSans !important;
}

.flash.type-update.flashinfo button{
  color: #ececec !important;
  font-size: 18px !important;
  font-family: ProductSans !important;
}