@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'ProductSans'
);

@include mat-core($custom-typography);
// https://material.io/design/color/

$mat-black: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #191919,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$mat-dark-theme-background: (
  status-bar: black,
  app-bar: map_get($mat-grey, 900),
  background: map_get($mat-black, 400),
  hover: rgba(white, 0.04),
  dialog: map_get($mat-black, 400),
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
  tooltip: map_get($mat-grey, 700)
);

$mat-black-theme-background: (
  status-bar: black,
  app-bar: map_get($mat-grey, 900),
  background: map_get($mat-black, 900),
  hover: rgba(white, 0.04),
  dialog: map_get($mat-black, 400),
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
  tooltip: map_get($mat-grey, 700)
);

@function mat-dark-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $mat-dark-theme-foreground,
    background: $mat-dark-theme-background
  );
}

@function mat-black-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $mat-dark-theme-foreground,
    background: $mat-black-theme-background
  );
}

.dark-theme {
  $dark-primary: mat-palette($mat-black, 400);
  $dark-accent: mat-palette($mat-orange, A200, A100, A400);
  $dark-warn: mat-palette($mat-orange);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

.black-theme {
  $black-primary: mat-palette($mat-black, 900);
  $black-accent: mat-palette($mat-orange, A200, A100, A400);
  $black-warn: mat-palette($mat-orange);
  $black-theme: mat-black-theme($black-primary, $black-accent, $black-warn);

  @include angular-material-theme($black-theme);
}
